.user-page {
    min-width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
}

.user-header {
    display: flex;
    width: 100%;
    max-height: 100px;
    height: 100%;
    box-shadow: 1px 1px 10px 0 black;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.user-logo {

}

.user-card {
    display: flex;
    justify-content: start;
    align-items: center;
    width: fit-content;
    padding: 10px;
    box-shadow: 0 0 5px 0 black;
    border-radius: 50px;
    gap: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.user-name {
    font-size: 20px;
    font-weight: bold;
}

.user-role {
    font-style: italic;
    opacity: 0.5;
}